/* header styles */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap");

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Permanent Marker", cursive;
  background-color: rgb(184, 184, 184) !important;
}

.App {
  display: flex;
  flex-direction: column;
}

.homeFlex {
  display: flex;
  flex-direction: row;
}

.home {
  display: block;
}

.Art,
.singleProduct {
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  /* justify-content: space-evenly; */
}

img {
  align-self: center;
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}

#header {
  font-family: "Permanent Marker", cursive !important;
  text-decoration: none;
}

.navbar {
  display: block;
  text-align: center;

  position: sticky;
  left: 0;
  right: 0;
}

.sidebarContainer {
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: flex-end;
  min-width: 20%;
  max-width: 20%;
  margin: 0;
  height: auto;
}

#navBar {
  width: 300px;
  height: 100vh;
  right: 0;
  background-color: darkgrey;
  color: whitesmoke;
}

.loginPage,
.register {
  display: block;
  text-align: center;
  position: relative;
  margin: 50px auto;
}

/* .singleProduct {
  margin-left: 50%;
  /* height: 150px; */
/* margin-top: 2px;
  justify-content: center;
} */

.singleprodName {
  font-family: "Permanent Marker", cursive !important;
  font-size: 1.5rem;
}

.loginPage input,
.register input,
.editProduct input {
  margin-bottom: 15px;
  font-size: 18px;
  width: 300px;
  height: 30px;
  text-align: center;
  border: 1px solid rgb(37, 122, 156);
}

.editProduct {
  margin: 5%;

  width: 500px;
  background: rgb(235, 242, 245);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 80%);
  color: black;
  word-break: break-word;
  margin-top: 100px;
  padding-left: 20px;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
}

#minus1 {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(95, 9, 9);
}

#plus1 {
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid rgb(95, 9, 9);
}

#removeCart,
#deleteProd {
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid rgb(95, 9, 9);
}

.Checkout {
  display: block;
  text-align: center;
  position: relative;
  margin: 20px auto;
}

.Checkout input {
  margin-bottom: 5px;
  font-size: 18px;
  width: 300px;
  height: 30px;
  text-align: center;
  border: 1px solid rgb(37, 122, 156);
}

h2 {
  text-align: center;
  font-family: "Permanent Marker", cursive !important;
}

.txt {
  font-size: 0.85rem;
}

.card {
  float: left;
  height: 718px;
  margin: 20px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 80%);
}

.cardbody {
  background-color: rgb(241, 236, 236);
  padding: 50px;
}

.bag,
.total {
  font-family: "Permanent Marker", cursive !important;
  font-size: 1.5rem;
  /* text-align: center; */
}

.tax {
  font-family: "Permanent Marker", cursive !important;
}

.prodName,
.stealsLink {
  font-family: "Permanent Marker", cursive !important;
  font-size: 1.3rem;
}

.image-fluid {
  max-width: 100%;
  height: 20vh;
}
.embed-responsive .card-img-top {
  width: 100%;
  height: 300px;
}

.productContainer {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cart {
  margin: 5%;
  position: relative;
  width: 75%;
  background: rgb(235, 242, 245);
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 80%);
  color: black;
  word-break: break-word;
  margin-top: 10px;
  padding-left: 20px;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
}

.cartitem {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 18px;
  border-radius: 5px;
}

.Steals,
.FoodDrink,
.Apparel,
.Art {
  margin: 30px;
}

#cartItemImg {
  border-radius: 10%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#categoryNav {
  padding: 20px;
  font-size: larger;
}
.badge {
  color: white;
}
.footer {
  background: linear-gradient(to bottom, #65767e 0, #100f24 100%);
  /* box-sizing: border-box; */
  position: fixed;
  height: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.footer h6 {
  display: inline-block;
  padding: 15px;
  padding-bottom: 1px;
  padding-top: 2px;
}
.socialLogos {
  display: flex;
  justify-content: space-evenly;
}
